<h2>Interpolation</h2>

<p>{{ nome }} tem {{ idade }} anos</p>

<p>{{ nome }} tem mais de {{ idade }} anos?</p>

<p>{{ idade > 29 }}</p>

<p>{{ idade + 1 }}</p>

<hr>

<h2>Property binding</h2>
<button [disabled]="checkDisabled">Button</button>

<br>
<br>

<img [src]="" [title]="imgTitle" [alt]="imgTitle" />

<br>

<hr>

<h2>Event binding</h2>

<button (click)="alertaInfo($event)">Evento</button>

<div (mousemove)="mouseMoveTeste($event)" style="background: red; width: 300px; height: 300px"></div>

{{ position.x }} - {{ position.y }}

<br>
<br>

<hr>

<h2>Two-way binding</h2>
<input [(ngModel)]="nome"> 
<p>{{ nome }}</p>

<br>
<br>

